:root{
    --first-color: #bf8f3b;
    --second-color:#f7edb2;
    --third-color:#dec286;
    --third-color-alt: #f7e085;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*inicia primera seccion de la pagina */
.primera-seccion{
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.548),rgba(0, 0, 0, 0.548)), url(../img/portada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center ;
}

/* header{
    color: white;
    font-weight:bolder;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    padding: 20px;
}  */

.primer-contenedor{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    padding-bottom: 0;

}

.contenedor-hijo{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.segundo-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.llamar {
    display: flex;
    gap: 10px;
    color: white;
    font-size:20px;
    
}
.grueso{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.redes{
    color: white;
    font-size: 30px;
}

.logo{
    width: 100px;
    
}

.nav-link{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    color: white !important;
    font-weight: 500!important;
}

.nav-link:hover{
    text-shadow: none;
}

.nombre, .navbar-brand{
    color: white !important;
    display: flex;
    align-items: center;
    font-weight: 700!important;
    letter-spacing: 2px;
}

.navbar-collapse{
    justify-content:flex-end !important;
    text-align: center;
    align-items: center !important;
}

.titulo {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .navbar-toggler{
    background-color: white !important;
    
  }

.gran-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    color: white;
    text-align: center;
    height: 80vh;
    
}

.gran-titulo h1{
    font-size: 80px;
    padding-bottom: 10px;
    font-weight: bold;
}

.gran-titulo h6 , h5{
    font-style: italic;
}
.gran-titulo button{
    width: 150px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 2px;
    font-size: larger;
}
@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinkTextCursor {
    from { border-right-color: transparent; }
    to { border-right-color: transparent; }
}

#bienvenido-texto{
    display: inline-block;
    overflow: hidden;
    white-space: wrap;
    border-right: 0.15em solid transparent; /* Ajusta el color y el grosor del cursor aquí */
    animation: 
        typewriter 4s steps(44) 1s 1 normal both, 
        blinkTextCursor 500ms steps(44) infinite normal;
}

  @media only screen and (max-width: 375px){
    .logo{
        display: none;
    }

    .navbar-brand{
        letter-spacing: normal;
        font-weight: 500 !important;
    }
  }
  
  @media only screen and (max-width: 425px){
    .primer-contenedor{
        display: none;
    }

    .navbar>.container-fluid{
        justify-content: center !important;
    }
    .gran-titulo h1{
        font-size: 40px;
    }

  }

  @media only screen and (max-width: 439px){
    .logo{
        width: 75px;
    }
  }

  @media only screen and (min-width:425px) and (max-width: 625px){
    .primer-contenedor{
        flex-wrap: wrap;
        justify-content: center;
    }

    
  }

  @media only screen and (max-width: 991px){
    .navbar-collapse{
        text-align: left;
        padding-left: 10px;
    }
  }



